/*HEADER*/

.contenedorPrincipal {
    background-color: black; 
    .contenidoPrincipal {
        z-index: 2;
        .contenedorVideo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: -1;
            video {
                min-width: 100%;
                max-width: 100%;
            } 
        }
        .menuIndex {
            background-color: black;
            padding: 10px;
            text-align: center;
            border-bottom: 3px #c1a205 solid; 
            display: flex;
            justify-content: space-between;  
            align-items: center; 
            z-index: 1;
            opacity: 0.85;
            h1 {/*OK*/
                text-align: center;
                background-color: black;
                color: #c1a205;
                font-size: 50px;
                font-family: 'Barlow Semi Condensed', sans-serif;
                border-bottom: #c1a205 solid 2px;  
            }
            div h1 a {
                text-decoration: none;
                color: #c1a205;
            }
            ul li {
                list-style-type: none;
                display: inline-block;
                color: #c1a205;
                font-size: 25px;
                font-family: 'Barlow Semi Condensed', sans-serif;
                margin: 5px;
                text-align: center;
                border-bottom: 2px solid #c1a205;
                ul li:hover {
                    color: #c1a205;
                    text-decoration: underline;
                    transition: transform 100ms;
                    transform: scale(1.1);
                }
                a{
                    text-decoration: none;
                    color: #c1a205;
                }
            }
        }  
    }
}


