/*Pagina 2 = header*/ 
.menu {
    background-color: black;
    padding: 10px;
    text-align: center;
    border-bottom: 3px whitesmoke solid; 
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    position: sticky;
    div h1 {
        text-align: center;
        background-color: black;
        color: whitesmoke;
        font-size: 50px;
        font-family: 'Barlow Semi Condensed', sans-serif;
        border-bottom: #e7dfdd solid 2px;
    }
    div h1 a {
        text-decoration: none;
        color: #c1a205;
    }
    ul li {
        list-style-type: none;
        display: inline-block;
        color: #c1a205;
        font-size: 25px;
        font-family: 'Barlow Semi Condensed', sans-serif;
        margin: 5px;
        text-align: center;
        border-bottom: 2px solid #c1a205;
        a{
        text-decoration: none;
        color: #c1a205;
        }
        ul li:hover {
        color: #c1a205;
        text-decoration: underline;
        }
    }
}

/*MAIN*/

.paginaDos {
    display: grid;
    height: 75.5vh;
    grid-template-columns: repeat(3, 1 r);
    grid-template-rows: 1fr 1.5fr 2fr 0.2fr ;
    grid-template-areas:    "aside div div div"
                            "section section section section"
                            "section section section section";
                            ;
    gap: 10px;
    align-content: space-around;
    align-items: start;
    overflow-x: hidden;
    div h3{
        margin-top: 50px;
        padding-bottom: 20px;
        font-size: 35px;
        font-weight: 700;
        text-decoration: underline;
        font-family: 'Barlow Semi Condensed', sans-serif;
        text-align: center;
        main .parrafo {
            display: block;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
            display: flex;
            align-items: center;  
            font-family: 'Barlow Semi Condensed', sans-serif; 
        }
        .salud {
            font-size: 20px;
            font-family: 'Barlow Semi Condensed', sans-serif;
            margin-bottom: 30px;
            margin-top: 50px;
            margin-left: 50px;
        }
    }
    .contenedorDos {
        display: flex;
        align-items: center;
        .textos {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 15px;
            margin-bottom: 10px;
            font-family: 'Barlow Semi Condensed', sans-serif;
            text-align: center;
        }        
    }
}

/*FOOTER*/
.pieDePagina {
    text-align: center;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: black;
    color: #e7dfdd;
    padding: 16px 0 16px 0;
    display: flex;
    flex-direction: column;   
}